@model Testing_Application_Project.Models.Po_Hedar_Line


@Html.Partial("~/Views/Po_Hedar_Line/PoHedarView.cshtml",Model.hedar);
@Html.Partial("~/Views/Po_Hedar_Line/PoLineView.cshtml",Model.line)


<table>
    <tr>
       <th>Basic Amount</th>
        <th>Tax Amount</th>
        <th>Discount Amount</th>
        <th>Paid Amount</th>
    </tr>
    <tbody>
        <tr>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
        </tr>
    </tbody>
</table>
